{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<article{{ attributes.addClass('profile') }}>
  {% if content %}
    <div class="user-info row justify-content-center">
      <div class="info-1">
        {{- content.user_picture -}}
      </div>
      <div class="info-2">
        <div class="name--subscription">
          {{- content.name -}}
          <div class="subscription--wrapper {{ user.field_subscription.value }}">
            {% if user.field_subscription.value %}
            {{ content.field_subscription }}
            {% else %}
            <div class="field--name-field-subscription">Unsubscribed</div>
            {% endif %}
          </div>
          {% if current_user == user.id %}
          <div class="dropdown {{ user.field_subscription.value }}">
            <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu">
              {% if user.field_subscription.value %}
              <li><a class="dropdown-item" href="/user/subscribe">Change Plan</a></li>
              <li><a class="dropdown-item" href="/user/subscribe/cancel">Cancel Subscription</a></li>
              {% else %}
              <li><a class="dropdown-item" href="/user/subscribe">Subscribe</a></li>
              {% endif %}
            </ul>
          </div>
          {% endif %}
        </div>
        {{- content.member_for -}}
        {{- content.hc_balance -}}
      </div>
    </div>
    {{- content.field_user_items -}}
  {% endif %}
</article>
