<div class="card--wrapper">
    <img src="/themes/custom/hobbyswap/logo.png" class="bg-image">
    <div class="card--info">
        <p class="brand">{{ card.getCardBrand }}</p>
        <p class="last-4">**** **** **** {{ card.getLast4 }}</p>
        <p class="expiration-date">{{ card.getExpMonth }}/{{ card.getExpYear|slice(2, 3) }}</p>
    </div>
</div>

{{ attach_library('hs_square/card') }}